@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background-color: var(--GavaWhite);
  overflow-x: hidden;

}

:root {
  --GavaWhite: #F8F8F8;
  --GavaBlack: #242424;
  --GavaPurplePrincipal: #7101FF;
  --GavaPurpleSecondary: #7341B2;
  --GavaPurpleDark: #4F00B2;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100vw;
  background-color: var(--GavaWhite);  
  position: fixed;
}

header img{
  padding: 3rem;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  
  width: 50vw;
  margin-left: 5em;
}

nav li{
  text-decoration: none;
  list-style: none;
  width: 6rem;
  padding: 5px;
}

nav a{
  color: var(--GavaPurpleDark);
  
  border-bottom: transparent 4px solid;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

nav a:hover{
  color: var(--GavaPurpleDark);
  border-bottom: var(--GavaPurplePrincipal) 4px solid;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

header .botoes-acesso{
  display: flex;
  justify-content: center;
  width: 20rem;
  gap: 1rem;
}

.botoes-acesso .btn-login{
  border: var(--GavaPurplePrincipal) 2px solid;
  background-color: var(--GavaWhite);

  color: var(--GavaPurplePrincipal);
  font-weight: 600;
  font-size: 20px;

  width:30%;
  height: 3rem;

  transition: ease-in-out 0.3s;
}
.botoes-acesso .btn-login:hover{
  cursor: pointer;
  border: var(--GavaPurpleDark) 2px solid;
  background-color: var(--GavaPurpleDark);

  color: var(--GavaWhite);
  font-weight: 600;
  font-size: 20px;

  width:50%;
  height: 3rem;
}


.botoes-acesso .btn-cadastro{
  border: var(--GavaPurplePrincipal) 2px solid;
  background-color: var(--GavaPurplePrincipal);

  color: var(--GavaWhite);
  font-weight: 500;
  font-size: 20px;

  width:40%;
  height: 3rem;

  transition: ease-in-out 0.3s;
}
.botoes-acesso .btn-cadastro:hover{
  cursor: pointer;
  border: var(--GavaPurpleDark) 2px solid;
  background-color: var(--GavaPurpleDark);

  color: var(--GavaWhite);
  
  width:70%;
  height: 3rem;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 112vh;
  background-image: url('../assets/imgs/Img-Banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
}

.main-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60vh;
  gap: 2em;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  background-color: var(--GavaWhite);
  width: 30vw;
  height: 60vh;

  border-radius: 20px;
}

.img-card{
  
  display: flex;
  border-radius: 20px;
  width: 70%;
  height: 70%;
}

.card .btn-saiba-mais{
  background-color: var(--GavaPurplePrincipal);
  color: var(--GavaWhite);
  width: 50%;
  height: 6%;
  border: none;
  border-radius: 50px;
  font-weight: 500;

  margin: 1em;

  transition: ease-in-out 0.2s;
}

.card .btn-saiba-mais:hover{
  cursor: pointer;
  background-color: var(--GavaPurpleDark);
  color: var(--GavaWhite);
  width: 60%;
  font-weight: 700;
}

.informacao{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  text-align: center;
  gap: 0px;
}

.informacao h1{
  
  font-size: 32px;
  color: var(--GavaWhite);
  margin: 0%;
}
.informacao p{
  margin: 0;
  color: var(--GavaWhite);
  background-color: rgba(0,0,0,0.7);
  
  font-size: 28px;
  height: 80vh;
  
  padding-left: 1em;
  padding-top: 1em;
  text-align: start;
  border-top: #7101FF 10px solid;
}

.img-seta{
  width: 50px;
  height: 50px;
  margin-top: 5em;
}

.img-seta-carros{
  width: 50px;
  height: 50px;
  
}


.section-carros{
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
  background-color: var(--GavaPurpleSecondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.carros{
  width: 100vw;
  height: 100vh;
  background-color: var(--GavaPurpleSecondary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.carros article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 50%;
  margin: 5em;
}

.carros article h1{
  margin: 0;
  font-size: 56px;
  color: var(--GavaWhite);
}

.carros article p{
  margin: 0;
  font-size: 24px;
  color: var(--GavaWhite);
}

.carros article button{
  margin-top: 1em;
  background-color: var(--GavaWhite);
  color: var(--GavaPurpleSecondary);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;

  transition: ease-in-out 0.2s;
}

.carros img{
  width: 35%;

  border: var(--GavaWhite) 5px solid;
  border-radius: 50px;

  margin: 2em;
}
.carros .seta{
  width: 70px;
  border: none;
  margin: 3em;
}



