@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --GavaWhite: #F8F8F8;
  --GavaBlack: #242424;
  --GavaPurplePrincipal: #7101FF;
  --GavaPurpleSecondary: #7341B2;
  --GavaPurpleDark: #4F00B2;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--GavaPurplePrincipal);
}

::-webkit-scrollbar-track {
  background-color: var(--GavaPurpleDark);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--GavaWhite);
  overflow-x: hidden;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100vw;
  background-color: var(--GavaWhite);
  position: fixed;
  z-index: 1000;
}

header img {
  padding: 3rem;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50vw;
  margin-left: 5em;
}

li a {
  font-size: 17px;
  height: 100%;
  background: transparent;
  border: none;
  padding: 0.5em 1em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--GavaPurpleDark);
  transition: 0.2s ease;
}

li a:hover {
  color: var(--GavaWhite);
  transition-delay: 0.2s;
}

li a:hover::before {
  width: 100%;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--GavaPurpleDark);
  transition: 0.2s ease;
  z-index: -1;
}

li a:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: var(--GavaWhite);
}


li a.active{
  height: 100%;
  color: var(--GavaWhite);
  background-color: var(--GavaPurpleDark);
}


nav li {
  list-style: none;
  padding: 5px;
}


nav a {
  color: var(--GavaPurpleDark);

  border-bottom: transparent 4px solid;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

header .botoes-acesso {
  display: flex;
  justify-content: center;
  width: 20rem;
  gap: 1rem;
}

.botoes-acesso .btn-login {
  border: var(--GavaPurplePrincipal) 2px solid;
  background-color: var(--GavaWhite);

  color: var(--GavaPurplePrincipal);
  font-weight: 600;
  font-size: 20px;

  width: 30%;
  height: 3rem;

  transition: ease-in-out 0.3s;
}

.botoes-acesso .btn-login:hover {
  cursor: pointer;
  border: var(--GavaPurpleDark) 2px solid;
  background-color: var(--GavaPurpleDark);

  color: var(--GavaWhite);
  font-weight: 600;
  font-size: 20px;

  width: 40%;
  height: 3rem;
}


.botoes-acesso .btn-cadastro {
  border: var(--GavaPurplePrincipal) 2px solid;
  background-color: var(--GavaPurplePrincipal);

  color: var(--GavaWhite);
  font-weight: 500;
  font-size: 20px;

  width: 40%;
  height: 3rem;

  transition: ease-in-out 0.3s;
}

.botoes-acesso .btn-cadastro:hover {
  cursor: pointer;
  border: var(--GavaPurpleDark) 2px solid;
  background-color: var(--GavaPurpleDark);

  color: var(--GavaWhite);

  width: 50%;
  height: 3rem;
}

/* -------------------------------------- SECTION BANNER --------------------------------------------------- */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 112vh;
  background-image: url('../assets/imgs/Img-Banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60vh;
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  width: 30vw;
  height: 60vh;
  background-image: url('../assets/imgs/img-carros/img-carro06.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border: var(--GavaWhite) 4px solid;
  color: var(--GavaWhite);
}

.card .btn-saiba-mais {
  background-color: var(--GavaPurplePrincipal);
  color: var(--GavaWhite);
  padding: 1em 4em;

  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;

  margin: 1em;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.54);

  transition: ease-in-out 0.3s;
}

.card .btn-saiba-mais:hover {
  cursor: pointer;
  background-color: var(--GavaWhite);
  color: var(--GavaPurplePrincipal);
  font-weight: 700;
}

.informacao {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  text-align: center;
  gap: 0px;
}

.informacao h1 {

  font-size: 32px;
  color: var(--GavaWhite);
  margin: 0%;
}

.informacao p {
  margin: 0;
  color: var(--GavaWhite);
  background-color: rgba(0, 0, 0, 0.7);

  font-size: 28px;
  height: 80vh;

  padding-left: 1em;
  padding-top: 1em;
  text-align: start;
  border-top: #7101FF 10px solid;
}

.img-seta {
  width: 50px;
  height: 50px;
  margin-top: 5em;
}

.img-seta-carros {
  width: 50px;
  height: 50px;
}

.img-seta-jogos {
  width: 50px;
  height: 50px;
}


/* -------------------------------------- SECTION FILMES --------------------------------------------------- */

.section-filmes {
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
  background-color: var(--GavaBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--GavaWhite);
}

.section-filmes .cards {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;

}

.card-filmes {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 60vh;
  background-position: center;
  background-size: contain;
  border: var(--GavaWhite) 4px solid;
  border-radius: 30px;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.card-filmes .titulos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7em;
  justify-content: center;
  align-items: center;
  background-color: var(--GavaWhite);
  border-radius: 0 0 30px 30px;
}

.card-filmes .titulos h1 {
  margin: 0;
  text-align: center;

  color: var(--GavaPurpleDark);
}

.card-filmes .titulos p {
  margin: 0;

  text-align: center;
  color: var(--GavaPurpleDark);
}

.card-filmes button {
  margin: 0;
  margin-bottom: 2em;
  padding: 1em 0.2em;
  width: 70%;

  font-weight: 800;
  font-size: 18px;
  text-align: center;

  border: none;
  border-radius: 20px;
  color: var(--GavaPurpleDark);
  background-color: var(--GavaWhite);

  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.54);

  transition: ease-in-out 0.3s;
}

.card-filmes button:hover {
  background-color: var(--GavaPurplePrincipal);
  color: var(--GavaWhite);
}




#card-filme-1 {
  background-image: url('../assets/imgs/img-filmes/filmes01.png');
  transition: ease-in-out 0.2s;
}

#card-filme-1:hover,
#card-filme-2:hover,
#card-filme-3:hover {
  border: var(--GavaPurpleDark) 4px solid;
}



#card-filme-2 {
  background-image: url('../assets/imgs/img-filmes/filmes02.png');
  transition: ease-in-out 0.2s;
}





#card-filme-3 {
  background-image: url('../assets/imgs/img-filmes/filmes03.png');
  transition: ease-in-out 0.2s;
}






/* -------------------------------------- SECTION JOGOS --------------------------------------------------- */



.section-jogos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
  background-color: var(--GavaWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--GavaPurpleDark);
  font-size: 20px;
}

.jogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-jogos {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 60vh;
  background-color: var(--GavaPurpleSecondary);
  border-radius: 50px;
  flex-wrap: wrap;
  justify-content: center;
  

  -webkit-box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 0.54);
  box-shadow: inset 0px 0px 26px 0px rgba(0, 0, 0, 0.54);

  overflow-y: scroll;
}

.list-jogos::-webkit-scrollbar {
  display: none;
}

.list-jogos::-webkit-scrollbar-thumb {
  background-color: var(--GavaPurplePrincipal);
}

.list-jogos::-webkit-scrollbar-track {
  background-color: var(--GavaPurpleDark);
}

.card-jogos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-jogos img{
  
  margin: 1em 1em;
  width: 20vw;
  height: 50vh;

  border-radius: 20px;
  border: var(--GavaWhite) 4px solid;
}

/* -------------------------------------- SECTION CARROS --------------------------------------------------- */

.section-carros {
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
  background-color: var(--GavaPurpleSecondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.slide {
  width: 100vw;
  height: 60vh;
  background-color: var(--GavaPurpleSecondary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 50%;
  margin: 5em;
}

.slide article h1 {
  margin: 0;
  font-size: 56px;
  color: var(--GavaWhite);
}

.slide article p {
  margin: 0;
  font-size: 24px;
  color: var(--GavaWhite);
}

.slide article button {
  margin-top: 1em;
  background-color: var(--GavaWhite);
  color: var(--GavaPurpleSecondary);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;

  transition: ease-in-out 0.2s;
}

.slide img {
  width: 20vw;
  border: var(--GavaWhite) 5px solid;
  border-radius: 50px;
  margin-right: 10em;
}

.carros .seta {
  width: 70px;
  border: none;
  margin: 3em;
}



.carousel {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  align-items: center;
  width: 80vw;
  transition: transform 0.5s ease;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%; 
  
  text-align: center;
}

.prev, .next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  background-color: var(--GavaWhite);
  color: var(--GavaBlack);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 4vw;
  height: 4vh;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide-indicators {
  text-align: center;
  margin-top: 10px;
}

.slide-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--GavaPurpleDark);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.slide-indicator.active {
  background-color: var(--GavaWhite);
}